<div class="row">
<div ng-repeat="item in (allData = (quiz | filter: { id: itemId }))"
     class="question">
   <h3>{{item.question}}</h3>
     <div ng-repeat="a in allData[$index].answers" class="col-xs-3">
     <span id="one" class="thumbnail"
      ng-class="{ 'selected': isSelected($parent.$index, $index),
                  'correct':  isCorrect($parent.$index, $index)
                   }"

      ng-click="selectItem($parent.$index, $index)"
      ng-hide="a.text">
       <img ng-src="{{ a.image }}" alt="">
     </span>

       <span id="two"
       class="btn btn-success"
       ng-hide="a.image"
       ng-class="{'selected': isSelected($parent.$index, $index),
                  'correct': isCorrect($parent.$index, $index) }"
       ng-click="selectItem($parent.$index, $index)"
       >
       {{a.text}}
       </span>

     </div>
  <p ng-show="item.correctness === 'correct'">Good! Keep scoring</p>
  <p ng-show="item.correctness === 'incorrect'">Oops!!! Pay attention at the next question</p>

  </div>
 <div class="text-center" style="margin-top: 40px;"><hr>
  <button ng-click="continue()" class="btn btn-danger">Continue</button>
  <h2>{{score}}</h2>
 </div>

 </div>

